parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
    tmpDir: %currentWorkingDirectory%/var/phpstan
    checkGenericClassInNonGenericObjectType: false
